{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "SmartWagers/index.css" %}?v=11">
{% endblock css_files %}

{% block script_files %}
    <!--script src="{% static 'SmartWagers/submit_wagers.js' %}"></script-->
    <script src="{% static 'SmartWagers/signals.js' %}?v=live-status-sync-1"></script>
    <script src="{% static 'SmartWagers/administrator.js' %}?v=sidebar-v4"></script>
{% endblock script_files %}

{% block content %}

{% endblock %}